// Skip Link
.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 99;
    background: $teal;
    color: $red;
    &:focus {
        left: 0;
    }
}

header {
    background-color: $teal;
    height: 100vh;
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        position: relative;
    }
    .nav-links {
        display: flex;
        flex-direction: row;
        column-gap: 25px;
        color: $red;
        font-weight: 600;
        li {
            transition: 0.3s;
            &:hover {
                transform: scale(1.5);
            }
        }
    }
    .burger-icon {
        color: $red;
        position: absolute;
        right: 0;
        height: 0;
        overflow: hidden;
    }
    .close-button {
        align-self: flex-end;
        background-color: transparent;
        color: $light-teal;
        
    }
    .burger-icon,
    .close-button {
        background-color: transparent;
        border: none;
        font-size: 2rem;
        cursor: pointer;

    }
    
    .slide-out-nav {
        background-color: $red;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 500px;
        height: 100vh;
        transition: 0.75s;
        transform: translate(100%); 
        z-index: 10;
        nav {
            position: relative;
            display: flex;
            flex-direction: column;
            color: $light-teal;
            max-width: 90%;
            margin: 25px auto;
        }
    }
    .show-slide-nav {
        transform: translate(0);
    }
    .slide-content {
        flex-direction: column;
        row-gap: 10px;
        margin-top: 40%;
        a {
            font-size: 1.6rem;
            line-height: 2.5rem;
            color: rgba($color: $white, $alpha: 1);
            transition: 0.3s;
            &:hover,
            &:focus {
                color: rgba($color: $white, $alpha: 0.5);
            }
        }
    }
    .landing {
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
    }
    .landing-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        color: $ivory;
    }
}