
@media (max-width: 1160px) {
    .projects {
        .tools,
        .project-description {
            font-size: 1.8rem;
        }
        .project-links a {
            font-size: 1.8rem;
        }
    }
}

@media (max-width: 1120px) {
    .projects {
        .tools,
        .project-description {
            font-size: 1.6rem;
        }
        .project-links a {
            font-size: 1.6rem;
        }
        }
}

@media (max-width: 995px) {
    .about div {
        max-width: 80%;
    }
    .projects {
        .tools,
        .project-description {
            font-size: 1.6rem;
        }
        .project-links a {
            font-size: 1.6rem;
        }
    }
}

@media (max-width: 920px) {
    header {
        .landing-content {
            text-align: center;
            h1 {
                font-size: 6rem;
            }
            h3 {
                font-size: 2.5rem;
            }
            .button {
                padding: 10px 20px;
            }
        }
    }
    .projects li {
        display: flex;
        flex-direction: column;
        .project-img {
            margin-bottom: 20px;
            order: 10;
        }
        .project-info {
            order: 20;
        }
        .project-description {
            margin-bottom: 20px;
        }
        .project-links {
            position: static;
        }
    }
}

@media (max-width: 500px) {
    .nav-bar .wrapper {
        justify-content: space-between;
        .nav-links {
            height: 0;
            overflow: hidden;
        }      
         .burger-icon {
            height: auto;
            overflow: visible;
        }
        .nav-bar .wrapper .slide-out-nav {
            display: none;
        }
    }
    .landing-content {
        text-align: center;
        h1 {
            font-size: 4rem;
        }
        h3 {
            font-size: 2rem;
        }
        .button {
            padding: 5px 15px;
        }
    }
    header .wrapper .button {
        margin: 100px auto;
    }

    footer .wrapper {
        max-width: 80%;
    }
}

@media (min-width: 500px) {
    .nav-bar .wrapper .slide-out-nav {
        display: none;
    }
}