
// About Me

.about {
    background-color: $white;
    // padding: 50px 100px;
    text-align: center;
    div {
        max-width: 50%;
        margin: 100px auto;
    }
    h2 {
        color: teal;
    }
    p {
        color: $black;
    }
}
