html {
    font-size: 62.5%; 
    line-height: 1.4;
    scroll-behavior: smooth;
}

body {
    font-size: $base-font;
    font-family: $body-font;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    letter-spacing: 1px;
}

ul,
li,
a,
p,
input,
figure,
fieldset {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 7rem;
}
h2 {
    font-size: 6rem;
}
h3 {
    font-size: 3rem;
    font-family: $body-font;
}
h4 {
    font-size: 2.5rem;
}
