// Font Family
$heading-font: 'Stalemate', cursive;
$body-font: 'Imprima', sans-serif;
$greet-font: 'Fuzzy Bubbles', cursive;

// Font Sizes
$base-font: 2rem;

// Colours
$teal: rgb(102, 191, 191);
$white: rgb(255, 255, 255);
$black: rgb(31 31 31);
$red: rgb(255, 0, 99);
$light-teal: rgb(234, 246, 246);
$salmon: rgb(250, 128, 114);
$ivory: rgb(255, 255, 240);
$darkcyan: rgb(0, 139, 139);
$crimson: rgb(220, 20, 60);
$mediumvioletred: rgb(199, 21, 133);
$grey-lighter: rgb(221, 221, 221);
$grey-light: rgb(121, 121, 121);
$grey: rgb(91, 91, 91);
$grey-1: rgb(77 ,77 ,77);
$grey-2: rgb(55, 55, 55);