// Font Family
$heading-font: 'Stalemate', cursive;
$body-font: 'Comfortaa', cursive, sans-serif;

// Font Sizes
$base-font-small: 1.8rem;
// $base-font-small: 2rem;

// Colours
$teal: rgb(102, 191, 191);
$white: rgb(255, 255, 255);
$black: rgb(31 31 31);
$red: rgb(255, 0, 99);
$light-teal: rgb(234, 246, 246);
$salmon: rgb(250, 128, 114);
$ivory: rgb(255, 255, 240);
$darkcyan: rgb(0, 139, 139);
$crimson: rgb(220, 20, 60);
$mediumvioletred: rgb(199, 21, 133);
$grey: rgb(91, 91, 91);
