@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  line-height: 1.4;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
  font-family: "Imprima", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  letter-spacing: 1px;
}

ul,
li,
a,
p,
input,
figure,
fieldset {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 7rem;
  font-family: "Stalemate", cursive;
}

h2 {
  font-size: 6rem;
  font-family: "Stalemate", cursive;
}

h3 {
  font-size: 3rem;
  font-family: "Imprima", sans-serif;
}

h4 {
  font-size: 2.5rem;
}

q {
  font-size: 2rem;
}

body {
  font-family: "Imprima", sans-serif;
  width: 100vw;
}

h3 {
  font-size: 2.5rem;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
}

.button {
  padding: 10px 20px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  background-color: rgb(255, 0, 99);
  color: rgb(255, 255, 255);
  font-size: 2rem;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0 auto;
  cursor: pointer;
}
.button:hover, .button:focus {
  background-color: rgb(234, 246, 246);
  color: rgb(31, 31, 31);
}

#roll-up-btn {
  background-color: black;
  font-size: 2.5rem;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  right: 5%;
  bottom: 3%;
  z-index: 1;
  cursor: pointer;
  border: none;
  display: none;
  place-items: center;
  border: 0;
}

.from-bottom.up {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.from-left.right {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.from-right.left {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.from-bottom {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.from-top {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.from-left {
  opacity: 0;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.from-right {
  opacity: 0;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  background-color: rgb(102, 191, 191);
  color: rgb(255, 0, 99);
  z-index: 99;
}
.skip-link:focus {
  left: 0;
}

.nav-bar {
  position: sticky;
  top: 0;
  background: rgb(255, 0, 99);
  height: 7vh;
  z-index: 6;
}
.nav-bar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}
.nav-bar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.nav-bar .nav-links li {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav-bar .nav-links li:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.nav-bar .burger-icon {
  height: 0;
  overflow: hidden;
}
.nav-bar .toggle-look {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  right: 0;
  cursor: pointer;
}
.nav-bar .slide-out-nav {
  background-color: rgb(255, 0, 99);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  -webkit-transition: 0.75s;
  transition: 0.75s;
  -webkit-transform: translate(100%);
          transform: translate(100%);
}
.nav-bar .slide-out-nav .wrapper {
  height: 100%;
  margin: 0 auto;
}
.nav-bar .slide-out-nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(234, 246, 246);
  width: 100%;
  margin: 10px auto;
  position: relative;
  height: 100%;
}
.nav-bar .slide-out-nav .close-button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute;
  top: 0%;
  right: 0;
}
.nav-bar .show-slide-nav {
  -webkit-transform: translate(0);
          transform: translate(0);
}
.nav-bar .slide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.nav-bar .slide-content a {
  font-size: 3rem;
  line-height: 2.5rem;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav-bar .slide-content a:hover, .nav-bar .slide-content a:focus {
  color: rgba(255, 255, 255, 0.5);
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(121, 121, 121)), color-stop(80%), to(rgb(255, 255, 255)));
  background: linear-gradient(to bottom, rgb(121, 121, 121), 80%, rgb(255, 255, 255));
  height: 93vh;
}
header .wrapper {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .wrapper .greet-tag {
  text-align: center;
  max-width: 400px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  background-color: crimson;
  color: white;
  margin-top: 30px;
  font-family: "Fuzzy Bubbles", cursive;
}
header .wrapper .greet-tag h1 {
  background-color: white;
  color: black;
  font-family: inherit;
}
header .wrapper .greet-tag h2 {
  font-family: inherit;
}
header .wrapper span.fade {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
@-webkit-keyframes fade-infinite {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-infinite {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header .wrapper .button {
  margin: 20px auto;
}
header .wrapper .snapshot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 400px;
  text-align: center;
  margin-top: 20px;
  color: rgb(255, 255, 255);
}
header .wrapper .snapshot h3 {
  font-size: clamp(1.5rem, 2vw, 2.5rem);
}
header .wrapper .quote-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: rgb(31, 31, 31);
}
header .wrapper .quote-box .quote {
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  text-align: center;
  line-height: 1;
}
header .wrapper .quote-box .quote::before, header .wrapper .quote-box .quote::after {
  content: "“";
  font-size: clamp(2rem, 4vw, 5rem);
  display: inline-block;
}
header .wrapper .quote-box .quoter {
  -ms-flex-item-align: end;
      align-self: end;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  margin-right: 10%;
}

.about {
  background-color: rgb(255, 255, 255);
}
.about div {
  max-width: 50%;
  margin: 100px auto;
}
.about h2 {
  color: teal;
  text-align: center;
}
.about p {
  margin-bottom: 2rem;
}

.skills {
  background-color: rgb(234, 246, 246);
}
.skills .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 100px 0px;
  color: rgb(255, 0, 99);
}
.skills .wrapper h2 {
  margin-bottom: 50px;
}
.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.skills li {
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: rgb(102, 191, 191);
}
.skills li:hover {
  color: rgb(255, 0, 99);
}
.skills li span {
  font-size: 5rem;
}
.skills li figcaption {
  font-size: 1rem;
}
.skills li .iconify {
  font-size: 5rem;
}
.skills .firebase-iconify {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.skills .firebase-iconify figure {
  margin-top: 10px;
}

.projects {
  background-color: rgba(102, 191, 191, 0.3);
}
.projects .wrapper {
  text-align: center;
  padding: 100px 0px;
}
.projects .wrapper h2 {
  color: rgb(0, 139, 139);
}
.projects ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.projects li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px rgb(255, 255, 255) solid;
  padding: 50px 0;
}
.projects li:last-of-type {
  border-bottom: none;
}
.projects .project-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  width: 100%;
}
.projects .project-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  text-align: initial;
  position: relative;
}
.projects .project-title {
  line-height: initial;
}
.projects .tools,
.projects .project-description {
  font-size: 1.8rem;
}
.projects .tools {
  margin-bottom: 20px;
}
.projects .project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.projects .project-links a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(255, 0, 99, 0.4);
  color: rgb(255, 255, 255);
  padding: 5px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
}
.projects .project-links a:hover {
  background-color: rgb(255, 0, 99);
}
.projects .to-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
.projects .to-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

footer {
  background-color: rgb(102, 191, 191);
  color: rgb(255, 255, 255);
}
footer .wrapper {
  max-width: 50%;
  padding: 100px 0;
}
footer .wrapper h2 {
  color: rgb(255, 0, 99);
  text-align: center;
}
footer .wrapper p {
  text-align: center;
  margin: 20px 0;
}
footer .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
footer .social-links li {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .social-links li:hover {
  color: rgb(255, 0, 99);
}
footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
}
footer fieldset input {
  line-height: 1.6;
  padding-left: 10px;
  margin-bottom: 15px;
  font-family: "Imprima", sans-serif;
}
footer label {
  text-transform: uppercase;
}
footer textarea {
  padding: 10px;
  line-height: 1.4;
  margin-bottom: 15px;
  font-family: "Imprima", sans-serif;
}
footer .design {
  background-color: rgb(255, 0, 99);
  color: rgb(234, 246, 246);
  text-align: center;
  padding: 10px 0;
}

@media (max-width: 1160px) {
  .projects .tools,
.projects .project-description {
    font-size: 1.8rem;
  }
  .projects .project-links a {
    font-size: 1.8rem;
  }
}
@media (max-width: 1120px) {
  .projects .tools,
.projects .project-description {
    font-size: 1.6rem;
  }
  .projects .project-links a {
    font-size: 1.6rem;
  }
}
@media (max-width: 995px) {
  .about div {
    max-width: 80%;
  }
  .projects .tools,
.projects .project-description {
    font-size: 1.6rem;
  }
  .projects .project-links a {
    font-size: 1.6rem;
  }
}
@media (max-width: 920px) {
  header .landing-content {
    text-align: center;
  }
  header .landing-content h1 {
    font-size: 6rem;
  }
  header .landing-content h3 {
    font-size: 2.5rem;
  }
  header .landing-content .button {
    padding: 10px 20px;
  }
  .projects li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects li .project-img {
    margin-bottom: 20px;
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .projects li .project-info {
    -webkit-box-ordinal-group: 21;
        -ms-flex-order: 20;
            order: 20;
  }
  .projects li .project-description {
    margin-bottom: 20px;
  }
  .projects li .project-links {
    position: static;
  }
}
@media (max-width: 500px) {
  .nav-bar .wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-bar .wrapper .nav-links {
    height: 0;
    overflow: hidden;
  }
  .nav-bar .wrapper .burger-icon {
    height: auto;
    overflow: visible;
  }
  .nav-bar .wrapper .nav-bar .wrapper .slide-out-nav {
    display: none;
  }
  .landing-content {
    text-align: center;
  }
  .landing-content h1 {
    font-size: 4rem;
  }
  .landing-content h3 {
    font-size: 2rem;
  }
  .landing-content .button {
    padding: 5px 15px;
  }
  header .wrapper .button {
    margin: 100px auto;
  }
  footer .wrapper {
    max-width: 80%;
  }
}
@media (min-width: 500px) {
  .nav-bar .wrapper .slide-out-nav {
    display: none;
  }
}